/* .dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  position: relative;
}

.dot-grid__wrap {
  width: 100vh;
  height: 100vh;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100vh;
  height: 100vh;
  pointer-events: none;
} */

.dot-grid {
    background-color: #1e1e1e;
  position: fixed;          /* make it stick to the viewport */
  top: 0;
  left: 0;
  width: 100vw;             /* full viewport width */
  height: 100vh;            /* full viewport height */
  z-index: -1;              /* behind everything else */
  overflow: hidden;
  pointer-events: none;     /* allow clicks on top elements */
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

